.nav{
    width: 15%;
    height: 100vh;
    background-color: $secondary;
    float: left;
    display: flex;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-around;
        align-self: center;
        li{
            a{
                color: $light;
                text-decoration: none;
                &:hover, &:focus{
                    color:aquamarine;
                }
            }
        }
    }
}