.nav{
    float: left;
    //display: flex;
    height: 100vh;
    position: sticky;
    top: 0;
    grid-column: 1 / span 1;
    border-right: 4px solid $accent;
    ul{
        background-color: rgba(136, 246, 218, 0.25);
        list-style: none;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
        grid-row-start: 2;
        justify-content: center;
        
        li{
            a{         
                color: $light;
                text-decoration: none;
                transition: 0.3s;
                &:hover, &:focus{
                    color:$accent;
                    margin-left: 5px;
                }
            }
        }
    }
}