.nav{
    width: 15%;
    height: 100vh;
    background-color: rgba(136, 246, 218, 0.25);
    float: left;
    display: flex;
    
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-around;
        align-self: center;
        li{
            a{
                color: $light;
                text-decoration: none;
                transition: 0.3s;
                &:hover, &:focus{
                    color:$accent;
                    margin-left: 5px;
                }
            }
        }
    }
}