$dark: #041728;
$secondary: #073636; // #0F5150; // #3C6E71;
$accent: #88f6da;
$light: #F7FFFC;

@import './navigation';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    
}
body{
    /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
    background-color: $dark;
    color: $light;
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        .container{
            grid-column: 2 / span 4;
            .frontPage{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding:0 5px;
                .hello{
                    width: 300px;
                }
            }
            .mainContent{
                padding:10%;
                a{
                    text-decoration: none;
                    color:$light;
                    &:hover, &:focus{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
